.profile__container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
}

.profile__details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  padding-bottom: 9.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 9.8rem;
}

.profile__img-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 50%;
  border: 2rem solid var(--light-orange);
}

.profile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__username {
  display: inline-block;
  font-size: 2.4rem;
}

.age {
  font-size: 2rem;
  font-weight: 400;
}

.location {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.location__icon {
  font-size: 2.4rem;
  color: var(--accent);
}

.stat-value {
  font-weight: 700;
  margin-bottom: 0.2rem;
  font-size: 1.8rem;
}

.stat-title {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
