.form__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50rem;
  padding: 4rem;
  border-radius: 2rem;
  background-color: var(--accent);
}

.input {
  margin-bottom: 2rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ffbe95;
  outline: none;
  color: var(--white);
}

.input::placeholder {
  color: #ffbe95;
}

.label {
  font-size: 1.2rem;
  color: var(--white);
  font-size: 1.6rem;
}

.form__button {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #fdf2e9;
  color: var(--dark-grey);
  transition: all 0.3s ease;
}

.form__button:hover {
  background-color: #fffdfb;
  box-shadow: 2.4rem 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  color: var(--black);
}

.form > h1 {
  margin-bottom: 3rem;
  color: #fdf2e9;
}

.input__control {
  display: flex;
  flex-direction: column;
}
