.search__section {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
}

.input {
  font: inherit;
  border: none;
  border-bottom: 0.1rem solid var(--dark-grey);
  width: 100%;
  padding-left: 5rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 1.8rem;
  color: var(--dark-grey);
  outline: none;
}

.input__control {
  position: relative;
}

.search__icon-container {
  /* border: 1px solid black; */
  position: absolute;
  z-index: 10;
  font-size: 2.4rem;
  color: var(--light-grey);
  left: 1rem;
}
