.cart__container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.bag {
  grid-column: 1/3;
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cart-item {
  width: 100%;
  padding: 2.4rem 0;

  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.cart-item--img-box {
  width: 15rem;
  height: 15rem;
}

.cart-item-img {
  width: 100%;
  height: 100%;
}

.cart-item--info {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-item--details {
  color: #767676;
}

.cart-item--name {
  color: var(--black);
  font-weight: 700;
  /* margin-bottom: 0.5rem; */
}

.cart-item--size-and-quantity {
  margin-bottom: 2.4rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

select {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.4rem;
  color: #767676;
  background: none;
  border: 0;
  border-radius: 0.2rem;
  /* appearance: none; */
}

.cart-item--icons {
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  transition: 0.3s all ease;
}

.cart-item--icon {
  height: 2.4rem;
  width: 2.4rem;
}

.cart-item--icon:hover {
  cursor: pointer;
  color: #767676;
}

.summary-title {
  margin-bottom: 2.4rem;
}

.summary--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  font-weight: 500;
}

.summary--row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-row {
  border-top: 0.1rem solid #767676;
  border-bottom: 0.1rem solid #767676;
  padding: 1.6rem 0;
  margin-bottom: 2rem;
}

.checkout-btn {
  width: 100%;
}
