.section__videos {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

.section__videos > .grid {
  gap: 3rem;
}

.video {
  border-radius: 1.2rem;
  transition: all 0.3s ease;
  position: relative;
}

/* .video:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
} */

.video::after {
  content: "";
  position: absolute;
  background-color: transparent;
  left: -2rem;
  top: -2rem;
  width: 0;
  height: 0;
  z-index: -10;
  padding: 2rem;
  border-radius: 1.2rem;
}

.video:hover::after {
  width: 100%;
  height: 100%;
  background-color: #fdf2e9;
  transition: all 0.3s ease;
}

.video__container {
  width: 37rem;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.video__thumbnail {
  width: 100%;
}

.video__details {
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* .video:hover > .video__details {
  padding: 0 2rem 1.5rem;
} */

.video:hover > .video__link {
  color: var(--accent);
}

.video__link:link,
.video__link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.video__link:hover,
.video__title:active {
  color: var(--accent);
}

.video__title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.video__user {
  margin-bottom: 0.3rem;
}

.video__stats {
  color: #767676;
}
