.section__videos {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

.section__videos > .grid {
  gap: 3rem;
}

.video {
  /* padding: 2rem; */
  border-radius: 1.2rem;
  transition: all 0.3s ease;
}

.video:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.video__container {
  width: 37rem;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-bottom: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.video__thumbnail {
  width: 100%;
}

.video__details {
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.video:hover > .video__details {
  padding: 0 2rem 1.5rem;
}

.video:hover > .video__link {
  color: var(--accent);
}

.video__link:link,
.video__link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.video__link:hover,
.video__title:active {
  color: var(--accent);
}

.video__title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.video__user {
  margin-bottom: 0.3rem;
}

.video__stats {
  color: #767676;
}
