.section__products {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

.product__img-container {
  width: 35rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-radius: 1.2rem;
}

.product__img {
  width: 100%;
}

.product__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__title {
  text-transform: capitalize;
  font-size: 1.8rem;
}

.product__price {
  font-size: 1.4rem;
  font-weight: 700;
  color: #767676;
}

.product__link:link,
.product__link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.product__link:hover,
.product__title:active {
  color: var(--accent);
}
