@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --dark-grey: #333;
  --light-grey: #767676;
  --accent: #ff751f;
  --light-orange: #fdf2e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--dark-grey);
  background-color: var(--white);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--dark-grey);
}

.h2 {
  font-size: 4rem;
  font-weight: 700;
}

.h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid__2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid__3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid__4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid__5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.section__title {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.btn--primary {
  background-color: var(--accent);
  color: var(--white);
}

.btn--primary:hover {
  background-color: #cf711f;
  color: var(--white);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--accent);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.btn--sm {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--accent);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
