.product {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  transition: 0.3s all ease;
}

.product:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0,  0,  0,  0.06);
}

.product__img-container {
  width: 35rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-radius: 1.2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product__img {
  width: 100%;
}

.product__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.4rem 2.4rem;
}

.product__title {
  text-transform: capitalize;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.product__price {
  font-size: 1.4rem;
  /* font-weight: 700; */
  color: #767676;
}

.product__link:link,
.product__link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.product__link:hover,
.product__title:active {
  color: var(--accent);
}
