.section__features {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

.feature__icon-container {
  margin-bottom: 3.2rem;
}

.feature__icon {
  color: var(--accent);
  font-size: 3.2rem;
}

.feature__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature__description {
  font-size: 1.8rem;
  line-height: 1.8;
}
